
.vs/AirportRouteApi/v16/.suo
AirportRouteApi/bin/Debug/netcoreapp2.1/AirportRouteApi.deps.json
AirportRouteApi/bin/Debug/netcoreapp2.1/AirportRouteApi.dll
AirportRouteApi/bin/Debug/netcoreapp2.1/AirportRouteApi.pdb
AirportRouteApi/bin/Debug/netcoreapp2.1/AirportRouteApi.runtimeconfig.dev.json
AirportRouteApi/bin/Debug/netcoreapp2.1/AirportRouteApi.runtimeconfig.json
AirportRouteApi/bin/Debug/netcoreapp2.1/appsettings.Development.json
AirportRouteApi/bin/Debug/netcoreapp2.1/appsettings.json
AirportRouteApi/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
AirportRouteApi/bin/Debug/netcoreapp2.1/web.config
AirportRouteApi/obj/AirportRouteApi.csproj.nuget.dgspec.json
AirportRouteApi/obj/AirportRouteApi.csproj.nuget.g.props
AirportRouteApi/obj/AirportRouteApi.csproj.nuget.g.targets
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.AssemblyInfo.cs
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.AssemblyInfoInputs.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.assets.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.csproj.CoreCompileInputs.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.csproj.FileListAbsolute.txt
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.csprojAssemblyReference.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.dll
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.genruntimeconfig.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.pdb
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.RazorAssemblyInfo.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.RazorAssemblyInfo.cs
AirportRouteApi/obj/Debug/netcoreapp2.1/AirportRouteApi.RazorTargetAssemblyInfo.cache
AirportRouteApi/obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
AirportRouteApi/obj/project.assets.json
AirportRouteApi/obj/project.nuget.cache
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteApi.dll
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteApi.pdb
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteTest.deps.json
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteTest.dll
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteTest.pdb
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteTest.runtimeconfig.dev.json
AirportRouteTest/bin/Debug/netcoreapp2.1/AirportRouteTest.runtimeconfig.json
AirportRouteTest/bin/Debug/netcoreapp2.1/appsettings.Development.json
AirportRouteTest/bin/Debug/netcoreapp2.1/appsettings.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/existRouteAirline.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/existRouteDestAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/existRouteSrcAirport.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/existRouteSrcAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteAirline1.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteAirline2.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteDestAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountAirline1.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountDestAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport1.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport1Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport2.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport2Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport3.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport3Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport4.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteMaxTransferCountSrcAirport4Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteSrcAirport1.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteSrcAirport1Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteSrcAirport2.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/multipleTransferRouteSrcAirport2Valid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/notExistAirport.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/notExistRouteDestAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/notExistRouteSrcAirport.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Jsons/notExistRouteSrcAirportValid.json
AirportRouteTest/bin/Debug/netcoreapp2.1/Mono.Cecil.dll
AirportRouteTest/bin/Debug/netcoreapp2.1/nunit.engine.netstandard.dll
AirportRouteTest/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
AirportRouteTest/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
AirportRouteTest/bin/Debug/netcoreapp2.1/Properties/launchSettings.json
AirportRouteTest/bin/Debug/netcoreapp2.1/web.config
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.AssemblyInfo.cs
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.AssemblyInfoInputs.cache
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.csproj.CopyComplete
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.csproj.CoreCompileInputs.cache
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.csprojAssemblyReference.cache
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.dll
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.genruntimeconfig.cache
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.pdb
AirportRouteTest/obj/project.nuget.cache
AirportRouteTest/obj/AirportRouteTest.csproj.nuget.dgspec.json
AirportRouteTest/obj/AirportRouteTest.csproj.nuget.g.props
AirportRouteTest/obj/AirportRouteTest.csproj.nuget.g.targets
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.assets.cache
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.csproj.FileListAbsolute.txt
AirportRouteTest/obj/Debug/netcoreapp2.1/AirportRouteTest.Program.cs
AirportRouteTest/obj/project.assets.json
AirportRouteApi/Logs/AirportRouteApi-20210809.txt
AirportRouteApi/Logs/AirportRouteApi-20190531.txt
AirportRouteApi/Logs/AirportRouteApi-20210808.txt
AirportRouteTest/bin/Debug/netcoreapp2.1/nunit_random_seed.tmp
.vs/AirportRouteApi/v16/TestStore/0/000.testlog
.vs/AirportRouteApi/v16/TestStore/0/testlog.manifest
.vs/AirportRouteApi/DesignTimeBuild/.dtbcache.v2
